NAEVYS.TF.COMMENT_SIGN = #
NAEVYS.TF.STYLE_SIGN = -
NAEVYS.TF.CONFIG_DIVIDER = [|]
NAEVYS.TF.INPUT_FILE_NAME = input.txt
NAEVYS.TF.CONSTANTS_FILE_NAME = constants.txt
NAEVYS.TF.STYLES_FILE_NAME = styles.txt
NAEVYS.TF.REFERENCE_LINE_SIZE = 5
NAEVYS.TF.NORMAL_LINE_SIZE = 4

NAEVYS.EF.OUTPUT_SHEET_2_NAME = Tarifas
NAEVYS.EF.OUTPUT_SHEET_1_NAME = Datos
NAEVYS.EF.APPLICATION_NAME = NAEVYS
NAEVYS.EF.APPLICATION_VERSION = 2.0
NAEVYS.EF.FORMULA_CURRENT_ROW_PLACEHOLDER = #
NAEVYS.EF.FORMULA_CONSTANTS_PLACEHOLDER = @@
NAEVYS.EF.DEFAULT_CELL_PLACEHOLDER = 
NAEVYS.EF.REFERENCE_ID = R
NAEVYS.EF.FORMULA_ID = F
NAEVYS.EF.STATIC_ID = S