#                                                                    #
#                                                                   #
#  ###  ###  #   # ##### #####  ###  #   # ####   ###   ### #####  ###  #   #
# #    #   # ##  # #       #   #     #   # #   # #   # #      #   #   # ##  #
# #    #   # # # # ###     #   #  ## #   # ####  ##### #      #   #   # # # #
# #    #   # #  ## #       #   #   # #   # #   # #   # #      #   #   # #  ##
#  ###  ###  #   # #     #####  ###   ###  #   # #   #  ### #####  ###  #   #
#
#

####################################
#                                  #
# Constantes de la clase TextFiles #
#                                  #
####################################

#
# Signo usado al inicio de cualquier linea que se desea que sea ignorada. Se puede usar para agregar comentarios en el archivo de configuraciones
#
NAEVYS.TF.COMMENT_SIGN = #

#
# Signo usado al inicio de cualquier linea que pertenece al estilo nombrado en una linea previa que no empieza con este simbolo
#
NAEVYS.TF.STYLE_SIGN = -

#
# Signo que divide los terminos de una linea de configuracion
#
NAEVYS.TF.CONFIG_DIVIDER = [|]

#
# Signo que divide los terminos de una linea de configuracion de estilos
#
NAEVYS.TF.STYLES_DIVIDER = [:]

#
# Nombre del archivo que contiene las configuraciones del archivo de salida de Excel
#
NAEVYS.TF.INPUT_FILE_NAME = input.txt

#
# Nombre del archivo que contiene las constantes que se imprimiran en el archivo de salida
#
NAEVYS.TF.CONSTANTS_FILE_NAME = constants.txt

#
# Nombre del archivo que contiene los estilos que se pueden aplicar a los titulos del archivo de salida de Excel
#
NAEVYS.TF.STYLES_FILE_NAME = styles.txt

#
# Tamaño de las lineas de configuracion que hacen referencia a una columna con valores por referencia
#
NAEVYS.TF.REFERENCE_LINE_SIZE = 7

#
# Tamaño de las lineas de configuracion que hacen referencia a una columna que no tenga valores por referencia (valores estaticos o formulas)
#
NAEVYS.TF.NORMAL_LINE_SIZE = 6



#####################################
#                                   #
# Constantes de la clase ExcelFiles #
#                                   #
#####################################

#
# Nombre de la hoja de calculo que contendra todos los datos del archivo de salida
#
NAEVYS.EF.OUTPUT_SHEET_2_NAME = Tarifas

#
# Nombre de la hoja de calculo que contendra todos los datos del archivo de salida
#
NAEVYS.EF.OUTPUT_SHEET_1_NAME = Datos

#
# Indice de la hoja de calculo que se va a leer cuando se importe un archivo de Excel
#
NAEVYS.EF.INPUT_SHEET_INDEX = 0

#
# Nombre de la aplicacion que genero el archivo de Excel de salida
#
NAEVYS.EF.APPLICATION_NAME = NAEVYS

#
# Version de la aplicacion que genero el archivo de Excel de salida
#
NAEVYS.EF.APPLICATION_VERSION = 2.4

#
# Simbolo que se puede agregar a las formulas especificadas por el usuario que tomara el valor del indice de la fila en la que se imprime
#
NAEVYS.EF.FORMULA_CURRENT_ROW_PLACEHOLDER = #

#
# Simbolo que se puede agregar a las formulas especificadas por el usuario que tomara el valor del nombre de la hoja de calculo de las constantes
#
NAEVYS.EF.FORMULA_CONSTANTS_PLACEHOLDER = @@

#
# Valor que se imprimira en cualquier celda que sea manejada por el caso por defecto. Es decir, cualquier celda que tenga un error, este vacia o no se haya identificado su tipo de dato
#
NAEVYS.EF.DEFAULT_CELL_PLACEHOLDER = 

#
# Identificador de una columna que tendra valores por referencia (copia de los valores del archivo de entrada)
#
NAEVYS.EF.REFERENCE_ID = R

#
# Identificador de una columna que tendra formulas
#
NAEVYS.EF.FORMULA_ID = F

#
# Identificador de una columna que tendra valores estaticos
#
NAEVYS.EF.STATIC_ID = S



################################
#                              #
# Constantes de la clase Style #
#                              #
################################

#
# Etiqueta para el atributo de estilo bold
#
NAEVYS.S.BOLD = bold

#
# Etiqueta para el atributo de estilo italic
#
NAEVYS.S.ITALIC = italic

#
# Etiqueta para el atributo de estilo border color
#
NAEVYS.S.BORDER_COLOR = border_color

#
# Etiqueta para el atributo de estilo border color side
#
NAEVYS.S.BORDER_COLOR_SIDE = border_color_side

#
# Etiqueta para el atributo de estilo border style
#
NAEVYS.S.BORDER_STYLE = border_style

#
# Etiqueta para el atributo de estilo border style side
#
NAEVYS.S.BORDER_STYLE_SIDE = border_style_side

#
# Etiqueta para el atributo de estilo fill color
#
NAEVYS.S.FILL_COLOR = fill_color

#
# Etiqueta para el atributo de estilo font color
#
NAEVYS.S.FONT_COLOR = font_color

#
# Etiqueta para el atributo de estilo font name
#
NAEVYS.S.FONT_NAME = font_name

#
# Etiqueta para el atributo de estilo font size
#
NAEVYS.S.FONT_SIZE = font_size

#
# Etiqueta para el atributo de estilo horizontal alignment
#
NAEVYS.S.HORIZONTAL_ALIGNMENT = horizontal_alignment

#
# Valor verdadero de los atributos
#
NAEVYS.S.TRUE = true

#
# Valor nulo cuando no se desea aplicar ningun estilo al titulo de la columna
#
NAEVYS.S.NONE_STYLE = none

#
# Referencia al lado superior de una celda
#
NAEVYS.S.SIDE_TOP = TOP

#
# Referencia al lado inferior de una celda
#
NAEVYS.S.SIDE_BOTTOM = BOTTOM

#
# Referencia al lado derecho de una celda
#
NAEVYS.S.SIDE_RIGHT = RIGHT

#
# Referencia al lado izquierdo de una celda
#
NAEVYS.S.SIDE_LEFT = LEFT

#
# Referencia al lado diagonal de una celda
#
NAEVYS.S.SIDE_DIAGONAL = DIAGONAL



##############################
#                            #
# Constantes de la clase GUI #
#                            #
##############################

#
# Sufijo que se puede agregar al final del nombre de archivo que se exportara
#
NAEVYS.G.FILE_NAME_SUFFIX = _ex

#
# Nombre por defecto que se usara de ser necesario para exportar el archivo
#
NAEVYS.G.DEFAULT_FILE_NAME = output

#
# Nombre del archivo de texto que contiene todos los registros de error
#
NAEVYS.G.LOG_FILE_NAME = error_log.txt

#
# Patron usado para la fecha que se imprime en los registros de error
#
NAEVYS.G.LOG_DATE_PATTERN = yyyy-MM-dd-HH:mm:ss

#
# Patron usado para la fecha que se agrega en el nombre del archivo exportado en caso de que el usuario lo desee
#
NAEVYS.G.FILE_DATE_PATTERN = yyMMdd-HHmmss

#
# Determina si se agregara la fecha en el nombre del archivo que se exporta
#
NAEVYS.G.INCLUDE_DATE_IN_FILE_NAME = true

#
# Determina si se usara el nombre del archivo fuente como base para el archivo exportado
#
NAEVYS.G.USE_INPUT_FILE_NAME = true

#
# Directorio donde se abrira por defecto el filechooser (Dejar vacio para que se abra en el directorio del programa)
#
NAEVYS.G.FILE_CHOOSER_STARTING_DIR = 