#
# Constantes de la clase TextFiles
#

NAEVYS.TF.COMMENT_SIGN = #
NAEVYS.TF.STYLE_SIGN = -
NAEVYS.TF.CONFIG_DIVIDER = [|]
NAEVYS.TF.STYLES_DIVIDER = [:]
NAEVYS.TF.INPUT_FILE_NAME = input.txt
NAEVYS.TF.CONSTANTS_FILE_NAME = constants.txt
NAEVYS.TF.STYLES_FILE_NAME = styles.txt
NAEVYS.TF.REFERENCE_LINE_SIZE = 5
NAEVYS.TF.NORMAL_LINE_SIZE = 4


#
# Constantes de la clase ExcelFiles
#

NAEVYS.EF.OUTPUT_SHEET_2_NAME = Tarifas
NAEVYS.EF.OUTPUT_SHEET_1_NAME = Datos
NAEVYS.EF.APPLICATION_NAME = NAEVYS
NAEVYS.EF.APPLICATION_VERSION = 2.2
NAEVYS.EF.FORMULA_CURRENT_ROW_PLACEHOLDER = #
NAEVYS.EF.FORMULA_CONSTANTS_PLACEHOLDER = @@
NAEVYS.EF.DEFAULT_CELL_PLACEHOLDER = 
NAEVYS.EF.REFERENCE_ID = R
NAEVYS.EF.FORMULA_ID = F
NAEVYS.EF.STATIC_ID = S


#
# Constantes de la clase Style
#
NAEVYS.S.BOLD = bold
NAEVYS.S.ITALIC = italic
NAEVYS.S.BORDER_COLOR = border_color
NAEVYS.S.BORDER_COLOR_SIDE = border_color_side
NAEVYS.S.BORDER_STYLE = border_style
NAEVYS.S.BORDER_STYLE_SIDE = border_style_side
NAEVYS.S.FILL_COLOR = fill_color
NAEVYS.S.FONT_COLOR = font_color
NAEVYS.S.FONT_NAME = font_name
NAEVYS.S.FONT_SIZE = font_size
NAEVYS.S.HORIZONTAL_ALIGNMENT = horizontal_alignment
TRUE = true